.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.bkg{
    top: 0px;
left: 0px;
width: 100vw;
height: 100vh;

background: #FAFAFA 0% 0% no-repeat padding-box;
opacity: 1;
}

.fvn{
    float: right;
    margin-top: 5px;
    /* margin-right: 700px; */
    /* margin-left: 5px; */
    /* top: 106px; */
    /* left: 906px; */
    padding-top: 30px 35px 0px 0px;
    width: 100px;
    height: 58px;
    opacity: 1;
}

.img-fluid{
    margin-bottom: 500px;
    left: 200px;
    width: 576px;
    height: 576px;
    margin: 155px;
    margin-left: 30px;
    background: transparent  0% 0% no-repeat padding-box;
    border-radius: 70%;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    opacity: 1;

}

.text{
    top: 315px;
left: 904px;
width: 260px;
height: 33px;
/* UI Properties */
text-align: left;
font: normal normal normal 25px/33px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.p{
    top: 183px;
left: 905px;
width: 500px;
height: 100px;
/* UI Properties */
text-align: left;
font: normal normal 300 40px/47px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.exp{
    top: 183px;
left: 1036px;
width: 137px;
height: 53px;
/* UI Properties */
text-align: left;
font: normal normal 900 40px/53px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}
.rgstr{
    position: absolute;
    top: 500px;
left: 170px;
width: 88px;
height: 20px;

text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}
.box{
    top: 372px;
left: 907px;
width: 429px;
height: 49px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}

.custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Upload';
    color: #C8242F;
    display: inline-block;
    /* background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); */
    border: 1px solid #C8242F;
    border-radius: 23px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    width: 124px;
    height: 36px;
    text-align: center ;
    background-image: url('../image/cloud-upload-icon.svg');
    background-repeat: no-repeat;
    background-position: 10% 50%;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }
  
  body,
html {
margin: 0;
font-family: Roboto, Arial, helvetica, sans-serif;
}

a {
outline: none;
}

.navbar-container {
text-align: center;
background-color: #ffffff;
padding: 10px;
font-size: 0;
display: flex;
}

.navbar-container ul {
margin: 0;
padding: 0;
text-align: right;
display: inline-block;
vertical-align: middle;
}

.navbar-container ul li {
display: inline-block;
font-size: 16px;
}

.navbar-container ul li a {
color: #ADADAD;
text-decoration: none;
display: inline-block;
padding: 10px;
transition: color 0.5s;
}

.navbar-container ul li .underline {
height: 3px;
background-color: #000000;
width: 0%;
transition: width 0.2s, background-color 0.5s;
margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
width: 100%;
background-color: rgb(255, 0, 0);
}

.navbar-container ul li:hover .underline {
background-color: rgb(255, 0, 0);
width: 100%;
}

.navbar-container ul li:hover a {}

.navbar-container ul li:active a {
transition: none;
color: rgba(255, 255, 255, 0.76);
}

.navbar-container ul li:active .underline {
transition: none;
background-color: rgba(255, 255, 255, 0.76);
}

  

  body {
    padding: 20px;
  }


.are{ 
    
    top: 595px;
left: 906px;
width: 160px;
height: 20px;
margin-right: 300px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.show{
  left: 20;
}